$transition: 150ms ease-in-out;

nav {
    height: 70px;
    background-color: #2A3647;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

.navbar-sections {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    div {
        display: flex;
        align-items: center;
        gap: 5px;
        flex-direction: column;
        color: white;

        img {
            object-fit: contain;
            width: 32px;
            height: 32px;
        }
    }
}

.highlight-section {
    transition: $transition;
    background-color: #091931;
}

@media(min-width:1001px) {
    nav {
        position: static;
        flex-direction: column;
        height: unset;
        bottom: unset;
        right: unset;
        left: unset;
        gap: 10px;
    }

    .navbar-sections {
        width: 100%;
        padding: 5px 0px;

        div {
            flex-direction: row;
            width: 150px;
            gap: 15px;
        }
    }
}