$transision: 150ms ease-in-out;

section {
    margin: 120px 60px;
    width: calc(100% - 60px - 60px);
}

.board-headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.board-headline-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    h2 {
        font-size: 38px;
    }

    .btn-primary {
        padding: 6px;
    }
}

.search-task {
    display: flex;
    align-items: center;

    input {
        width: 200px;
        padding-right: 50px;
        padding-left: 20px;
        height: 38px;
        border-radius: 10px;
        border: 1px solid #A8A8A8;
        font-size: 16px;
        font-weight: 400;
        background-color: white;
    }

    mat-icon {
        position: absolute;
        right: 10px;
    }

}

.parting-line {
    position: relative;
    left: -40px;
    border-left: 1px solid #A8A8A8;
    height: 30px;
}

.task-sections {
    display: flex;
    margin-top: 20px;
    flex-direction: column;

}

.task-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
    max-width: 100%;
}


.task-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        font-weight: 700;
    }
}

.btn-add-task-section {
    width: 32px;
    height: 32px;
    border: 2px solid #2a3647;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $transision;
    padding-block: unset;
    padding-inline: unset;

    &:hover {
        border-color: #29ABE2;
        color: #29ABE2;
    }
}


@media (min-width:1000px) {
    section {
        position: absolute;
        top: 140px;
        left: 350px;
        width: calc(100% - 350px - 80px);
    }

    .search-task {
        input {
            height: 50px;
        }
    }
}

.task-container {
    border-radius: 24px;
    padding: 16px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 10px 3px #00000014;
    cursor: pointer;
}

.task-droplist {
    // border: solid 1px #ccc;
    min-height: 60px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
}

// Drag and drop

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 24px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task-container:last-child {
    border: none;
}

.task-droplist.cdk-drop-list-dragging .task-container:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task-drag-placeholder {
    background: #ccc;
    border: solid 3px #ffffff;
    box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.078);
    min-height: 190px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    border-radius: 24px;
}

.task-placeholder-empty {
    background: #ccc;
    border: solid 3px #ffffff;
    box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.078);
    min-height: 50px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: calc(100% - 60px - 60px - 6px);
}

.task-category {
    border-radius: 8px;
    padding: 4px 16px;
    gap: 10px;
    display: flex;
    color: white;
    width: fit-content;
}

.task-title {
    font-weight: 700;
}

.task-description {
    color: #A8A8A8;
}

.task-subtasks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    span {
        font-size: 12px;
        white-space: nowrap;
    }
}

.mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-color: #4589FF;
    --mdc-linear-progress-track-color: #F4F4F4;
    border-radius: 8px;
}

.mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-height: 8px;
    --mdc-linear-progress-track-height: 8px;
}

.task-assigned-to-prio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-assigned-to-bubbles {
    display: flex;
    align-items: center;
    position: relative;

    div {
        min-height: 38px;
    }
}

.task-assigned-to-bubble {
    position: absolute;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    height: 38px;
    width: 38px;
    border-radius: 100%;
    color: white;
    border: 1px solid #FFFFFF
}