<app-template></app-template>
<section>
    <div class="board-headline">
        <h5 class="hide-desktop">Kanban Project Management Tool</h5>
        <div class="board-headline-mobile">
            <h2>Board</h2>
            <button (click)="openAddTask('Todo')" class="btn-primary hide-desktop"><mat-icon
                    class="material-icons-outlined" fontIcon="add"></mat-icon></button>
        </div>
        <div class="relative search-task">
            <input placeholder="Find Task" type="search">
            <div class="parting-line"></div>
            <mat-icon class="material-icons-outlined" fontIcon="search"></mat-icon>
        </div>
        <button class="btn-primary hide-mobile" (click)="openAddTask('To_Do')">Add Task<mat-icon
                class="material-icons-outlined" fontIcon="add"></mat-icon></button>
    </div>
    <div class="task-sections" cdkDropListGroup>
        <div class="task-section">
            <div class="task-section-header">
                <span>To do</span>
                <button (click)="openAddTask('To_Do')" class="btn-add-task-section">
                    <mat-icon class="material-icons-outlined" fontIcon="add"></mat-icon>
                </button>
            </div>
            <div class="task-droplist" cdkDropList [cdkDropListData]="To_Do"
                (cdkDropListDropped)="drop($event, 'To_Do')">
                <div *ngIf="!To_Do.length" class="task-placeholder-empty">No tasks To Do</div>
                <div (click)="openDetailsTask(taskToDo)" class="task-container" *ngFor="let taskToDo of To_Do; trackBy: trackByFunction" cdkDrag>
                    <div class="task-drag-placeholder" *cdkDragPlaceholder></div>
                    <span class="task-category"
                        [ngStyle]="{'background-color': taskToDo.category.category_color }">{{taskToDo.category.title}}</span>
                    <span class="task-title">{{ taskToDo.title }}</span>
                    <span class="task-description">{{ taskToDo.description }}</span>
                    <div *ngIf="taskToDo.subtasks.length" class="task-subtasks">
                        <mat-progress-bar mode="determinate"
                            [value]="valueCompletedSubtasks(taskToDo.subtasks)"></mat-progress-bar>
                        <span>{{ completedSubtasks(taskToDo.subtasks)}}/{{ taskToDo.subtasks.length }} Subtasks</span>
                    </div>
                    <div class="task-assigned-to-prio">
                        <div class="task-assigned-to-bubbles">
                            <div *ngFor="let assignedUser of taskToDo.assigned_to; let i = index">
                                <span
                                    [ngStyle]="{left: i * 30 + 'px', 'background-color': assignedUser.userdetail.bubble_color }"
                                    class="task-assigned-to-bubble" *ngIf="i < 3">
                                    {{
                                    assignedUser.first_name[0] +
                                    assignedUser.last_name[0] }}
                                </span>
                            </div>
                        </div>
                        <img [src]='"./../../assets/img/icons/" + taskToDo.prio + ".svg"' [alt]="taskToDo.prio">
                    </div>
                </div>
            </div>
        </div>
        <div class="task-section">
            <div class="task-section-header">
                <span>In Progress</span>
                <button (click)="openAddTask('In_Progress')" class="btn-add-task-section">
                    <mat-icon class="material-icons-outlined" fontIcon="add"></mat-icon>
                </button>
            </div>
            <div class="task-droplist" cdkDropList [cdkDropListData]="In_Progress"
                (cdkDropListDropped)="drop($event, 'In_Progress')">
                <div *ngIf="!In_Progress.length" class="task-placeholder-empty">No tasks In Progress</div>
                <div (click)="openDetailsTask(taskInProgress)" class="task-container" *ngFor="let taskInProgress of In_Progress; trackBy: trackByFunction"
                    cdkDrag>
                    <div class="task-drag-placeholder" *cdkDragPlaceholder></div>
                    <span class="task-category"
                        [ngStyle]="{'background-color': taskInProgress.category.category_color }">{{taskInProgress.category.title}}</span>
                    <span class="task-title">{{ taskInProgress.title }}</span>
                    <span class="task-description">{{ taskInProgress.description }}</span>
                    <div *ngIf="taskInProgress.subtasks.length" class="task-subtasks">
                        <mat-progress-bar mode="determinate"
                            [value]="valueCompletedSubtasks(taskInProgress.subtasks)"></mat-progress-bar>
                        <span>{{ completedSubtasks(taskInProgress.subtasks)}}/{{ taskInProgress.subtasks.length }}
                            Subtasks</span>
                    </div>
                    <div class="task-assigned-to-prio">
                        <div class="task-assigned-to-bubbles">
                            <div *ngFor="let assignedUser of taskInProgress.assigned_to; let i = index">
                                <span
                                    [ngStyle]="{left: i * 30 + 'px', 'background-color': assignedUser.userdetail.bubble_color }"
                                    class="task-assigned-to-bubble" *ngIf="i < 3">{{
                                    assignedUser.first_name[0] +
                                    assignedUser.last_name[0] }}</span>

                            </div>
                        </div>
                        <img [src]='"./../../assets/img/icons/" + taskInProgress.prio + ".svg"'
                            [alt]="taskInProgress.prio">
                    </div>
                </div>
            </div>
        </div>
        <div class="task-section">
            <div class="task-section-header">
                <span>Awaiting Feedback</span>
                <button (click)="openAddTask('Awaiting_Feedback')" class="btn-add-task-section">
                    <mat-icon class="material-icons-outlined" fontIcon="add"></mat-icon>
                </button>
            </div>
            <div class="task-droplist" cdkDropList [cdkDropListData]="Awaiting_Feedback"
                (cdkDropListDropped)="drop($event, 'Awaiting_Feedback')">
                <div *ngIf="!Awaiting_Feedback.length" class="task-placeholder-empty">No tasks Awaiting Feedback</div>
                <div (click)="openDetailsTask(taskAwaitingFeedback)"  class="task-container"
                    *ngFor="let taskAwaitingFeedback of Awaiting_Feedback; trackBy: trackByFunction" cdkDrag>
                    <div class="task-drag-placeholder" *cdkDragPlaceholder></div>
                    <span class="task-category"
                        [ngStyle]="{'background-color': taskAwaitingFeedback.category.category_color }">{{taskAwaitingFeedback.category.title}}</span>
                    <span class="task-title">{{ taskAwaitingFeedback.title }}</span>
                    <span class="task-description">{{ taskAwaitingFeedback.description }}</span>
                    <div *ngIf="taskAwaitingFeedback.subtasks.length" class="task-subtasks">
                        <mat-progress-bar mode="determinate"
                            [value]="valueCompletedSubtasks(taskAwaitingFeedback.subtasks)"></mat-progress-bar>
                        <span>{{ completedSubtasks(taskAwaitingFeedback.subtasks)}}/{{
                            taskAwaitingFeedback.subtasks.length }} Subtasks</span>
                    </div>
                    <div class="task-assigned-to-prio">
                        <div class="task-assigned-to-bubbles">
                            <div *ngFor="let assignedUser of taskAwaitingFeedback.assigned_to; let i = index">
                                <span
                                    [ngStyle]="{left: i * 30 + 'px', 'background-color': assignedUser.userdetail.bubble_color }"
                                    class="task-assigned-to-bubble" *ngIf="i < 3">{{
                                    assignedUser.first_name[0] +
                                    assignedUser.last_name[0] }}</span>
                            </div>
                        </div>
                        <img [src]='"./../../assets/img/icons/" + taskAwaitingFeedback.prio + ".svg"'
                            [alt]="taskAwaitingFeedback.prio">
                    </div>
                </div>
            </div>
        </div>
        <div class="task-section">
            <div class="task-section-header">
                <span>Done</span>
                <button (click)="openAddTask('Done')" class="btn-add-task-section">
                    <mat-icon class="material-icons-outlined" fontIcon="add"></mat-icon>
                </button>
            </div>
            <div class="task-droplist" cdkDropList [cdkDropListData]="Done" (cdkDropListDropped)="drop($event, 'Done')">
                <div *ngIf="!Done.length" class="task-placeholder-empty">No tasks Done</div>
                <div (click)="openDetailsTask(taskDone)" class="task-container" *ngFor="let taskDone of Done; trackBy: trackByFunction" cdkDrag>
                    <div class="task-drag-placeholder" *cdkDragPlaceholder></div>
                    <span class="task-category"
                        [ngStyle]="{'background-color': taskDone.category.category_color }">{{taskDone.category.title}}</span>
                    <span class="task-title">{{ taskDone.title }}</span>
                    <span class="task-description">{{ taskDone.description }}</span>
                    <div *ngIf="taskDone.subtasks.length" class="task-subtasks">
                        <mat-progress-bar mode="determinate"
                            [value]="valueCompletedSubtasks(taskDone.subtasks)"></mat-progress-bar>
                        <span>{{ completedSubtasks(taskDone.subtasks)}}/{{ taskDone.subtasks.length }} Subtasks</span>
                    </div>
                    <div class="task-assigned-to-prio">
                        <div class="task-assigned-to-bubbles">
                            <div *ngFor="let assignedUser of taskDone.assigned_to; let i = index">
                                <span
                                    [ngStyle]="{left: i * 30 + 'px', 'background-color': assignedUser.userdetail.bubble_color }"
                                    class="task-assigned-to-bubble" *ngIf="i < 3">{{
                                    assignedUser.first_name[0] +
                                    assignedUser.last_name[0] }}</span>
                            </div>
                        </div>
                        <img [src]='"./../../assets/img/icons/" + taskDone.prio + ".svg"' [alt]="taskDone.prio">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>