.task-container {
    padding: 30px 25px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 10px 3px #00000014;
}

.task-headline {
    display: flex;
    justify-content: space-between;

    button {
        background-color: white;
        border: none;
        cursor: pointer;
    }
}

.text-title {
    color: #A8A8A8;
}

.task-category {
    border-radius: 8px;
    padding: 4px 16px;
    gap: 10px;
    display: flex;
    color: white;
    width: fit-content;
    align-items: center;
    font-size: 24px;
}

.task-title {
    font-weight: 700;
    font-size: 32px;
}

.subtasks {
    height: 80px;
    max-height: 210px;
    overflow-y: auto;
}

.task-prio-container {
    display: flex;
    gap: 10px;
}

.task-prio {
    display: flex;
    align-items: center;
    gap: 5px;
}

.task-assigned-to-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.task-assigned-to {
    display: flex;
    gap: 10px;
    margin-left: 20px;
    flex-direction: column;
    height: 140px;
    max-height: 140px;
    overflow-y: auto;

    div {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.task-assigned-to-bubble {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    height: 38px;
    width: 38px;
    border-radius: 100%;
    color: white;
    border: 1px solid #FFFFFF
}

.task-edit-delete {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    button {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 5px 10px;
        font-size: 16px;
    }
}

.task-delete {
    border-color: red;
    color: red;

    &:hover {
        background-color: red;
        color: white;
        border-color: transparent;
    }
}